<div class="crumbs">
    <span class="prompt">$ cd</span>
    <a href="{{ "" | relLangURL }}">~</a>
    {{- $url := replace .Parent.Permalink site.Home.Permalink "" -}}
    {{- $scratch := newScratch -}}
    {{- range $i, $seg := split $url "/" -}}
        {{- if gt (len $seg) 0 -}}
        {{- $scratch.Add "path" (printf "%s/" $seg) -}}
        {{- with site.GetPage ($scratch.Get "path") -}}
        <span class="sep">/</span><a href="{{ .Permalink }}">{{ .Name }}</a>
        {{- end -}}
        {{- end -}}
    {{- end -}}
</div>
